{% extends "homebase.html" %}

{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="icon" type="image/png" href="{{ setting.icon.url }}"/>
{% endblock %}

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block content %}
    {% load static %}
    <!-- Title Page -->
	<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url({% static 'images/bg-title-page-01.jpg' %});">
		<h2 class="tit6 t-center">
			درباره ما
		</h2>
	</section>

	<section class="bg2-pattern p-t-116 p-b-110 t-center p-l-15 p-r-15">
		<span class="tit2 t-center">
			داستان رستوران فود
		</span>

		<div class="t-center size32 m-l-r-auto imageSafe" style="padding-top: 35px">
            {{ setting.aboutus|safe }}
        </div>
	</section>

{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}

{% endblock %}