{% extends "homebase.html" %}

{% block title %} {{ categorydata.title }} {% endblock %}
{% block keywords %} {{ categorydata.keywords }} {% endblock %}
{% block description %} {{ categorydata.description }} {% endblock %}

{% block head %}
    <link rel="icon" type="image/png" href="{{ setting.icon.url }}"/>
{% endblock %}

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block content %}
    {% load static %}
    <!-- Title Page -->
	<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url({{ categorydata.image.url }});">
		<h2 class="tit6 t-center">
            {{ categorydata.title }}
		</h2>
	</section>

	<section class="bg2-pattern p-t-116 p-b-110 p-l-15 p-r-15">
		<div class="container">
            <div class="row">
                <span class="tit2 t-center" style="width: 100%; padding-bottom: 50px;">
                   غذا های خوشمزه ما
                </span>

                {% for rs in products %}
                <div class="col-md-4 p-t-30">
                    <!-- Block1 -->
                    <div class="blo1">
                        <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom" style="height: 350px;">
                            <a href="/product/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" alt="IMG-INTRO"></a>
                        </div>

                        <div class="wrap-text-blo1 p-t-35">
                            <a href="/product/{{ rs.id }}/{{ rs.slug }}">
                                <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                    {{ rs.title }}
                                </h4>
                            </a>

                            <p class="m-b-20" style="word-wrap: break-word; width: 100%; text-align: left;">
                                {{ rs.description }}
                            </p>

                            <p class="m-b-20" style="word-wrap: break-word; width: 100%; text-align: left;">
                                قیمت:  تومان{{ rs.price }}<span class="m-r-6 m-l-4">|</span> امتیاز:
                                <i class="fa fa-star{% if rs.avaragecomment < 1 %}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if rs.avaragecomment < 2  %}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if rs.avaragecomment < 3  %}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if rs.avaragecomment < 4  %}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if rs.avaragecomment < 5  %}-o empty{% endif %}"></i>
                            </p>

                            <a href="/product/{{ rs.id }}/{{ rs.slug }}" class="txt4">
                                اطلاعات بیشتر و سفارش
                                <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
		</div>
	</section>

{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}

{% endblock %}