{% extends "homebase.html" %}

{% block title %} {{ profile.user.first_name }} {{ profile.user.last_name }} حساب کاربری {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="icon" type="image/png" href="{{ setting.icon.url }}"/>
{% endblock %}

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block content %}
    {% load static %}
    <!-- Title Page -->
	<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url({% static 'images/bg-title-page-03.jpg' %});">
		<h2 class="tit6 t-center">
			پروفایل کاربری
		</h2>
	</section>

    <div class="container">

			<div class="row ">
				<div class="col-md-8 col-lg-9">
					<div class="p-t-80 p-b-124 bo5-r p-r-50 h-full p-r-0-md bo-none-md">
						<div class="blo4 p-b-63">

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                        {{ message | safe }}
                                    </div>
                                    <div class="p-b-10"></div>
                                {% endfor %}
                            {% endif %}

                            <table class="table">
                                <tr>
                                    <th class="t-left" style="border-top: 0px !important;"></th>
                                    <td class="thumb" style="border-top: 0px !important; padding-bottom: 50px;"><img class="rounded-circle" height="250" src="{{ profile.image.url }}"/></td>
                                </tr>
                                <tr>
                                    <th class="t-left">نام کامل</th>
                                    <td class="t-left">{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
                                </tr>
                                <tr>
                                    <th class="t-left">ایمیل</th>
                                    <td class="t-left">{{ profile.user.email }}</td>
                                </tr>
                                <tr>
                                    <th class="t-left">شماره همراه</th>
                                    <td class="t-left">{{ profile.phone }}</td>
                                </tr>
                                <tr>
                                    <th class="t-left">آدرس</th>
                                    <td class="t-left">{{ profile.address }}</td>
                                </tr>
                                <tr>
                                    <th class="t-left">شهر</th>
                                    <td class="t-left">{{ profile.city }}</td>
                                </tr>
                                <tr>
                                    <th class="t-left">کشور</th>
                                    <td class="t-left">{{ profile.country }}</td>
                                </tr>
                            </table>

                            <div class="wrap-btn-booking flex-c-m m-t-30">
                                <a href="/user/update" class="m-r-10">
                                    <button type="submit" class="btn3 flex-c-m size36 txt11 trans-0-4">
                                        بروزرسانی پروفایل
                                    </button>
                                </a>
                                <a href="/user/password" class="m-l-10">
                                    <button type="submit" class="btn3 flex-c-m size36 txt11 trans-0-4">
                                       تغییر گذرواژه
                                    </button>
                                </a>
                            </div>

						</div>
					</div>
				</div>

                {% include "user_panel.html" %}

			</div>
		</div>


{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}

{% endblock %}